<h2>Celebrities</h2>

{{#each celebritiesFound}}
    <div style="border: 1px solid black; padding: 20px">
        <p>{{this.name}}</p>
        <p>{{this.occupation}}</p>
        <p>{{this.catchPhrase}}</p>
    </div>
{{/each}}