<h2>Add new movie!</h2>

<form action="/movies/create" method="POST">
  <label>Title:</label>
  <input type="text" name="title" />

  <label>Genre:</label>
  <input type="text" name="genre" />

  <label>Plot:</label>
  <input type="text" name="plot" />


  <label for="cast">Cast:</label>
  <select name="cast" id="cast" multiple>
    {{#each celebritiesFound}}
        <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Create a new Movie!</button>
</form>